<h1>New Review</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.collection_radio_buttons :rating, [[1,'1'],[2,'2'],[3,'3'],[4,'4'],[5,'5']],:first,:last %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Back', restaurants_path %>
